<section class="bg-light">
  <div class="container">
    <div class="d-flex align-items-center justify-content-end">
      <div class="col-12 d-flex align-items-center justify-content-end py-3">
        <!-- Add Product Modal  Section-->
        <button
          class="btn btn-success Mulish"
          (click)="clickAddProduct()"
          type="button"
          data-bs-toggle="modal"
          data-bs-target="#myModal"
        >
          New product +
        </button>
      </div>
      <div class="modal fade" id="myModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title fs-4 Mulish">Product details</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
              ></button>
            </div>
            <div class="modal-body">
              <form [formGroup]="myForm" enctype="multipart/form-data">
                <div class="form-outline mb-4 mt-4">
                  <input
                    type="name"
                    class="form-control Mulish"
                    formControlName="name"
                    placeholder="Product name"
                  />
                  <div
                    class="mb-4"
                    *ngIf="
                      myForm.get('name').invalid &&
                      (myForm.get('name').dirty || myForm.get('name').touched)
                    "
                  >
                    <p class="text-warning Mulish">
                      *please provide a product name
                    </p>
                  </div>

                  <input
                    type="name"
                    class="form-control mt-4 Mulish"
                    formControlName="price"
                    placeholder="Product price"
                  />
                  <div
                    class=""
                    *ngIf="
                      myForm.get('price').invalid &&
                      (myForm.get('price').dirty || myForm.get('price').touched)
                    "
                  >
                    <p class="text-warning Mulish">
                      *please provide a specific price
                    </p>
                  </div>

                  <div class="row align-items-center">
                    <div class="col-12 mb-4 mt-4">
                      <textarea
                        class="form-control Mulish"
                        rows="4"
                        name="message"
                        formControlName="description"
                        placeholder="Product description"
                      ></textarea>

                      <div
                        class=""
                        *ngIf="
                          myForm.get('description').invalid &&
                          (myForm.get('description').dirty ||
                            myForm.get('description').touched)
                        "
                      >
                        <p class="text-warning Mulish">*keep typing!</p>
                      </div>
                    </div>
                  </div>

                  <!-- Upload Image Section -->

                  <div class="form-group form-row">
                    <!-- <label for="image">Image</label> -->
                    <img src="" alt="" />
                    <input
                      type="file"
                      class="form-control Mulish"
                      (change)="getImagePath($event)"
                    />
                    <!-- <label class="col-md-3">Upload Image</label>
                    <div class="col-md-9">
                      <input
                        type="file"
                        id="image"
                        (change)="onSelectedFile($event)"
                      />
                      <div [innerHTML]="uploadError" class="error"></div>
                      <div *ngIf="imagePath">
                        <br />
                        <img [src]="imagePath" width="100px" />
                      </div>
                    </div> -->
                  </div>
                </div>

                <div class="d-flex align-items-center justify-content-center">
                  <a
                    type="submit"
                    *ngIf="showUpdate"
                    (click)="updateProduct()"
                    role="button"
                    class="btn btn-success w-25 text-light mt-4 mb-2 Mulish"
                    >Update</a
                  >

                  <input type="hidden" formControlName="id" />
                  <button
                    type="submit"
                    *ngIf="showAdd"
                    (click)="addProduct()"
                    [disabled]="!myForm.valid"
                    class="btn btn-success w-25 text-light mt-4 mb-2 Mulish"
                  >
                    Save
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- The Products Section -->

<section class="p-1 bg-light">
  <div class="row">
    <div class="container">
      <div class="row justify-content-center p-2">
        <div
          class="col-sm-12 col-md-6 col-lg-3 mb-5 d-flex align-items-center justify-content-center"
          *ngFor="let row of allProducts"
        >
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="card border-light" style="width: 20rem">
              <div class="image">
                <img [src]="row.image" alt="" class="card-img height" />
              </div>

              <div class="card-body">
                <h5 class="card-title fs-5 Mulish fw-bold">{{ row.name }}</h5>
                <p class="card-text fs-6 fw-bold Mulish">
                  {{ row.price | currency : "USD" }}
                </p>
                <p class="card-text fs-6 Mulish">{{ row.description }}</p>

                <div class="d-flex align-items-center justify-content-end">
                  <div
                    class="col-6 d-flex align-items-center justify-content-end"
                  >
                    <a
                      class="nav-link"
                      type="button"
                      (click)="onEdit(row)"
                      data-bs-toggle="modal"
                      data-bs-target="#myModal"
                      ><i class="fa-solid fa-pen-to-square me-3"></i
                    ></a>

                    <a class="nav-link" type="button"
                      ><i class="fa-sharp fa-solid fa-trash"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="container">
  <div class="row">
    <div
      class="col-sm-12 col-md-6 col-lg-3 mb-5"
      *ngFor="let row of allProducts"
    >
      <img [src]="row.image" alt="" />
      <h5 class="card-title fs-5 Mulish fw-bold">{{ row.name }}</h5>
      <p class="card-text fs-6 fw-bold Mulish">
        {{ row.price | currency : "USD" }}
      </p>
      <p class="card-text fs-6 Mulish">{{ row.description }}</p>
      <div class="d-flex align-items-center justify-content-end">
        <div class="col-6 d-flex align-items-center justify-content-end">
          <a
            class="nav-link"
            type="button"
            (click)="onEdit(row)"
            data-bs-toggle="modal"
            data-bs-target="#myModal"
            ><i class="fa-solid fa-pen-to-square me-3"></i
          ></a>

          <a class="nav-link" type="button"
            ><i class="fa-sharp fa-solid fa-trash"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->
