<section class="bg-light p-1 vh-100">
  <div class="container">
    <div class="col-12 p-3 mt-3 justify-content-center">
      <div class="row">
        <div class="col-6">
          <div class="card border-light">
            <img
              src="../../../assets/images/871.jpg"
              class="card-img-top"
              alt="..."
            />
          </div>
        </div>
        <div class="col-6">
          <div class="card bg-light">
            <div class="card-body">
              <!-- Product Name -->
              <h5 class="card-title fs-6">Product Name:</h5>
              <!-- <p class="card-text mb-4">Ikenga Chair and Throw pillow</p> -->

              <!-- Product Price -->
              <h5 class="card-title fs-6">Product Price:</h5>
              <!-- <p class="card-text mb-4">$200.00</p> -->

              <!-- Product Description -->
              <h5 class="card-title fs-6">Description</h5>
              <p class="card-text mb-4"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
