<section class="bg-success">
  <div class="container vh-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-sm-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card border-light">
          <div class="card-body p-5 text-center">
            <a
              [routerLink]="['']"
              class="navbar-brand d-flex align-items-center justify-content-start"
            >
              <span class="text-danger lead font fw-bold">ZEEKART</span>
            </a>
            <h5 class="text-start fw-bold mt-3">Forgot Password?</h5>
            <!-- <p class="text-start">
              enter your registered email id to reset your password
            </p> -->

            <form [formGroup]="thisForm">
              <div class="form-outline mb-4">
                <input
                  type="email"
                  class="form-control mb-4"
                  formControlName="email"
                  [(ngModel)]="email"
                  name="email"
                  placeholder="please enter your registered email id"
                />
                <div
                  class="mb-4"
                  *ngIf="
                    thisForm.get('email').invalid &&
                    (thisForm.get('email').dirty ||
                      thisForm.get('email').touched)
                  "
                >
                  <p class="text-warning">*please provide an email</p>
                </div>
              </div>

              <!-- <button class="btn btn-color w-100" type="submit"> -->

              <a
                type="submit"
                role="button"
                class="btn btn-success w-100 text-light"
                (click)="forgotPassword()"
                >Reset password</a
              >
              <!-- </button> -->
            </form>
            <div class="text-start mt-3">
              <p class="fs-6">
                Don't have an account?
                <a
                  [routerLink]="['/signup']"
                  class="text-decoration-none text-success"
                  >Get started</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
