<!-- Build your business Section -->
<section class="bg-warning p-1">
  <div class="row justify-content-center mt-4">
    <div
      class="col-sm-12 col-md-6 col-lg-6 mt-5 p-4 text-light build-style tab_text"
    >
      <h1 class="fw-bolder text-size Mulish p-2 mt-5">
        If you can dream it, <br />
        you can sell it with <br />
        ZeeKart
      </h1>
      <p class="mt-3 fs-6 p-2 Mulish">
        Build your business here. Take it anywhere.
      </p>

      <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-8 p-2">
          <form [formGroup]="emailForm">
            <div class="form-outline">
              <input
                type="email"
                class="form-control p-2"
                placeholder="enter your email address"
                formControlName="email"
              />
              <div
                class=""
                *ngIf="
                  emailForm.get('email').invalid &&
                  (emailForm.get('email').dirty ||
                    emailForm.get('email').touched)
                "
              >
                <p class="text-warning Mulish">*please provide an email</p>
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 p-2">
          <a
            [routerLink]="['/signup']"
            role="button"
            (click)="onSubmit()"
            class="btn btn-danger p-2 Mulish"
            type="button"
            >Start for free</a
          >
        </div>
      </div>
      <p class="para psmall-style p-2 Mulish">
        You can try ZeeKart for free, no credit card required. By entering your
        email, you agree to receive <br />
        marketing emails from ZeeKart.
      </p>
    </div>
    <div class="col-6 main-image">
      <div class="card border-light bg-primary">
        <img
          src="../../../assets/images/mid-century-modern-living-room-interior-design-with-monstera-tree (1).jpg"
          alt=""
          class="img-fluid w-100"
          style="height: 530px"
        />
      </div>
    </div>
  </div>
</section>

<!-- ZeeKart key features Section -->
<section class="bg-dark text-dark p-5 text-center">
  <!-- <div class="container"> -->
  <div class="row justify-content-center">
    <h1 class="text-center fs-5 my-4 fw-bold Mulish">ZeeKart key features!</h1>
    <div
      class="col-sm-12 col-md-6 col-lg-3 p-2 mb-4 mt-4"
      *ngFor="let time of times"
    >
      <div
        class="card bg-secondary border-light border-light style-width p-2 ms-2"
      >
        <div class="col-12 text-center p-3">
          <img [src]="time.image" alt="image" class="img-fluid" />
        </div>
        <div class="card-body text-center">
          <h5 class="card-title mb-2 fs-4 Mulish fw-bold">{{ time.name }}</h5>
          <p class="card-text text-center fs-1 Mulish">
            {{ time.text }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>

<!-- Connect with customer everywhere section -->
<section class="bg-success p-5">
  <!-- <div class="container"> -->
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6 p-5 mt-5">
      <h3 class="mt-5 card-title mb-4 fs-5 fw-bold Mulish">
        Connect with customers everywhere!
      </h3>
      <p class="card-text Mulish fs-2">
        Sell online, in person, or both with the marketing tools, social
        integrations, and sales channels you need to get your products in front
        of customers—and out the door.
      </p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <img
        src="../../../assets/images/sell-small-a7aadbd394716dd8df2b1959769a24827ac97161b67013f4926bb0dee7133ee9.webp"
        alt=""
        class="img-fluid"
      />
    </div>
  </div>
  <!-- </div> -->
</section>

<!-- The brand Section -->
<section class="bg-light p-3">
  <div class="row my-5">
    <div class="col-sm-12 col-md-2 col-lg-2 p-2" *ngFor="let img of imgs">
      <div class="bg-danger text-center p-3">
        <img [src]="img.image" alt="client" class="img-fluid" />
      </div>
    </div>
  </div>
</section>

<!-- Grow your business here section -->
<section class="bg-warning p-5">
  <div class="row">
    <div class="col-12 text-light">
      <h3 class="text-center fs-5 fw-bold Mulish card-title">
        Grow your business here!
      </h3>
      <p class="text-center card-text Mulish mt-3 fs-2">
        Whether you want to sell products down the street or around the world,
        we have all the tools you need.
      </p>
      <div class="d-flex align-items-center justify-content-center mt-5">
        <a
          [routerLink]="['/signup']"
          role="button"
          class="btn btn-danger p-2 Mulish"
          >Start for free</a
        >
      </div>
    </div>
  </div>
</section>
