.btn-success {
  background: #649476 !important;
  color: #fff;
}

.bg-warning {
  background: #fff !important;
}

.text-danger {
  color: #649476 !important;
}

.btn-secondary {
  background: #fff !important;
}

.text-dark {
  color: #000;
}

.font {
  font-size: 15px;
}

.text-warning {
  color: #ff0000 !important;
}

.card_style {
  border-radius: 10px;
}

.bg-dark {
  background: #e8eeeb !important;
}

.card_border {
  border-radius: 12px;
}

@media (max-width: 575.98px) {
  .main-image {
    display: none;
  }
}

@media (min-width: 992px) {
  .card_border {
    width: 75%;
    margin-left: 20%;
  }
}
