<section class="bg-light p-5">
  <!-- <div class="row"> -->
  <!-- <div class="container"> -->
  <div class="row justify-content-center mt-4">
    <div class="col-sm-12 col-md-6 col-lg-6 mt-5 why-text text-light">
      <h3 class="fw-bold text-size mt-5">Why ZeeKart?</h3>
      <p class="mt-4 p-text">
        ZeeKart allows vendors to display and update their products in a
        quicker, easier, and safer for everybody. ZeeKart focus on simplicity
        and productivity which has made it the world's most popular Vendors
        Market.
      </p>
    </div>
    <div class="col-lg-6 col-md-12 main-image p-3">
      <img
        src="../../../assets/images/13071-removebg-preview.png"
        alt=""
        class="img-fluid w-100"
      />
    </div>
  </div>
  <!-- </div> -->
  <!-- </div> -->
</section>

<!-- Take the best path forward Section -->
<section class="bg-danger p-5">
  <!-- <div class="container"> -->
  <div class="row my-4">
    <h3 class="text-center fs-3 mb-5">Take the best path forward!</h3>
    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
      <div class="card border-light bg-danger" style="width: 17rem">
        <div class="col-2 ms-3 mt-2 card_style bg-warning p-2 text-center">
          <i class="fa-solid fa-hourglass-start fs-4"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title font-style fw-bold">
            Start an online business
          </h5>
          <p class="card-text p-style">
            Create a business, whether you've got a fresh idea or are looking
            for a new way to make money.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
      <div class="card border-light bg-danger" style="width: 17rem">
        <div class="col-2 ms-3 mt-2 card_style bg-warning p-2 text-center">
          <i class="fas fa-wheelchair-move fs-4"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title font-style fw-bold">
            Move your business online
          </h5>
          <p class="card-text p-style">
            Turn your retail store into an online store and keep serving
            customers without missing a beat.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
      <div class="card border-light bg-danger" style="width: 17rem">
        <div class="col-2 ms-3 mt-2 card_style bg-warning p-2 text-center">
          <i class="fa-solid fa-wand-magic-sparkles fs-5"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title font-style fw-bold">Switch to ZeeKart</h5>
          <p class="card-text p-style">
            Bring your business to ZeeKart, no matter which ecommerce platform
            you're currently using.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
      <div class="card border-light bg-danger" style="width: 17rem">
        <div class="col-2 ms-3 mt-2 card_style bg-warning p-2 text-center">
          <i class="fas fa-user fs-4"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title font-style fw-bold">Hire a ZeeKart expert</h5>
          <p class="card-text p-style">
            Get set up with the help of a trusted freelancer or agency from the
            ZeeKart Experts Marketplace.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
</section>

<!-- Grow your business here section -->
<section class="bg-dark p-5">
  <div class="row">
    <div class="col-12 text-light">
      <h3 class="text-center fw-bold font-text">Grow your business here</h3>
      <p class="text-center mt-3 lead">
        Whether you want to sell products down the street or around the world,
        we have all the tools you need.
      </p>
      <div class="d-flex align-items-center justify-content-center mt-5">
        <a [routerLink]="['/signup']" role="button" class="btn btn-danger p-2"
          >Start for free</a
        >
      </div>
    </div>
  </div>
</section>
