@import "../../../app/shared/styles/typography.scss";

.text-danger {
  color: #3c5b45 !important;
  font-family: "Mulish";
}

.support {
  flex-direction: column;
}

.fw-bold {
  font-weight: 700 !important;
}

@media (max-width: 441.98px) {
  .last-style {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
