<section class="p-1 bg-light">
  <div class="row">
    <div class="container">
      <div class="row justify-content-center p-2">
        <div
          class="col-sm-12 col-md-6 col-lg-3 mb-5 d-flex align-items-center justify-content-center"
          *ngFor="let row of allProducts"
        >
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="card border-light" style="width: 20rem">
              <div class="image">
                <img [src]="row.image" alt="" class="card-img height" />
              </div>

              <div class="card-body">
                <h5 class="card-title fs-5 Mulish fw-bold">{{ row.name }}</h5>
                <p class="card-text fs-6 fw-bold Mulish">
                  {{ row.price | currency : "USD" }}
                </p>
                <p class="card-text fs-6 Mulish">{{ row.description }}</p>

                <!-- <div class="d-flex align-items-center justify-content-end">
                  <div
                    class="col-6 d-flex align-items-center justify-content-end"
                  >
                    <a
                      class="nav-link"
                      type="button"
                      (click)="onEdit(row)"
                      data-bs-toggle="modal"
                      data-bs-target="#myModal"
                      ><i class="fa-solid fa-pen-to-square me-3"></i
                    ></a>

                    <a class="nav-link" type="button"
                      ><i class="fa-sharp fa-solid fa-trash"></i>
                    </a>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
