<section class="p-2 bg-light">
  <!-- First Card Row Section -->
  <div class="row p-3">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-sm-12 col-md-12 col-lg-4 mb-3 d-flex align-items-center justify-content-center"
        >
          <div class="card border-light">
            <img
              src="../../../assets/images/Sweater_Mockup_Front_and_Back.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Sweat Shirt</h5>
              <p class="card-text">$150.00</p>
              <a
                [routerLink]="['/dashboard/products/product-details']"
                class="btn btn-primary"
                >Product details</a
              >
            </div>
          </div>
        </div>
        <div
          class="col-sm-12 col-md-12 col-lg-4 mb-3 d-flex align-items-center justify-content-center"
        >
          <div class="card border-light">
            <img
              src="../../../assets/images/beauty-products-recipients-assortment-grey-stones.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Mari Facials</h5>
              <p class="card-text">$300.00</p>
              <a
                [routerLink]="['/dashboard/products/product-details']"
                class="btn btn-primary"
                >Product details</a
              >
            </div>
          </div>
        </div>
        <div
          class="col-sm-12 col-md-12 col-lg-4 mb-3 d-flex align-items-center justify-content-center"
        >
          <div class="card border-light p-3">
            <img
              src="../../../assets/images/mid-century-modern-living-room-interior-design-with-monstera-tree (1).jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Mid Century Chair</h5>
              <p class="card-text">$200.00</p>
              <a
                [routerLink]="['/dashboard/products/product-details']"
                class="btn btn-primary"
                >Product details</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Card Row Section -->
  <div class="row">
    <div class="container">
      <div class="row justify-content-center p-2">
        <div
          class="col-sm-12 col-md-12 col-lg-4 mb-3 d-flex align-items-center justify-content-center"
        >
          <div class="card border-light">
            <img
              src="../../../assets/images/871.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Throw Pillow</h5>
              <p class="card-text">$100.00</p>
              <a
                [routerLink]="['/dashboard/products/product-details']"
                class="btn btn-primary"
                >Product details</a
              >
            </div>
          </div>
        </div>
        <div
          class="col-sm-12 col-md-12 col-lg-4 mb-3 d-flex align-items-center justify-content-center"
        >
          <div class="card border-light">
            <img
              src="../../../assets/images/18966306.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Swing Chair</h5>
              <p class="card-text">$200.00</p>
              <a
                [routerLink]="['/dashboard/products/product-details']"
                class="btn btn-primary"
                >Product details</a
              >
            </div>
          </div>
        </div>
        <div
          class="col-sm-12 col-md-12 col-lg-4 mb-3 d-flex align-items-center justify-content-center"
        >
          <div class="card border-light">
            <img
              src="../../../assets/images/876.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Throw Pillow</h5>
              <p class="card-text">$150.00</p>
              <a
                [routerLink]="['/dashboard/products/product-details']"
                class="btn btn-primary"
                >Product details</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Third Card Row Section -->
  <div class="row mb-5">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-sm-12 col-md-12 col-lg-4 mb-3 d-flex align-items-center justify-content-center"
        >
          <div class="card border-light">
            <img
              src="../../../assets/images/Sweater_Mockup_Front_and_Back.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Sweat Shirt</h5>
              <p class="card-text">$150.00</p>
              <a
                [routerLink]="['/dashboard/products/product-details']"
                class="btn btn-primary"
                >Product details</a
              >
            </div>
          </div>
        </div>
        <div
          class="col-sm-12 col-md-12 col-lg-4 mb-3 d-flex align-items-center justify-content-center"
        >
          <div class="card border-light">
            <img
              src="../../../assets/images/beauty-products-recipients-assortment-grey-stones.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Mari Facials</h5>
              <p class="card-text">$300.00</p>
              <a
                [routerLink]="['/dashboard/products/product-details']"
                class="btn btn-primary"
                >Product details</a
              >
            </div>
          </div>
        </div>
        <div
          class="col-sm-12 col-md-12 col-lg-4 mb-3 d-flex align-items-center justify-content-center"
        >
          <div class="card border-light">
            <img
              src="../../../assets/images/mid-century-modern-living-room-interior-design-with-monstera-tree (1).jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Mid Century Chair</h5>
              <p class="card-text">$200.00</p>
              <a
                [routerLink]="['/dashboard/products/product-details']"
                class="btn btn-primary"
                >Product details</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
