<section class="p-2 bg-light">
  <!-- First Card Row Section -->
  <div class="row p-3">
    <div class="container">
      <div class="row justify-content-center">
        <div
          class="col-sm-12 col-md-12 col-lg-4 mb-3 d-flex align-items-center justify-content-center"
        >
          <div class="card border-light">
            <img
              src="../../../assets/images/Sweater_Mockup_Front_and_Back.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title fs-4">Sweat Shirt</h5>
              <p class="card-text fs-5">$150.00</p>
              <!-- <a
                [routerLink]="['/dashboard/products/product-details']"
                class="btn btn-primary"
                >Product details</a
              > -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
